h3(i18n="home component|Welcome message header@@welcomeHeaderMessage") Welcome to sudokuNg
h5 For you this is a sudoku tool to play, create and solve sudokus. For me it's an angular play ground!
a(mat-stroked-button,[routerLink]="['play']") Play
a(mat-stroked-button,[routerLink]="['solve']") Solve