$field_size: 80;
$sudoku_max_size: 800px;
:host{
    display: flex;
    height:100%;
    width:100%;
    flex-direction: column;
    overflow: hidden;
    min-height:calc($sudoku_max_size/2);
    min-width:calc($sudoku_max_size/2);
}
div.content{
    display:flex;
    background:red;
    flex:1;
    height:100%;
    overflow: hidden;
}