$field_size: 80;
$sudoku_min_size: 640px;
$sudoku_max_size: 930px;
$layout-break: 930px;

:host{
    --field-size: 10%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    border:1px solid black;
    position: relative;
    button{
        margin:0px;
        padding:0px;
        flex:1;
        grid-auto-rows: 1fr; 
        width:var(--field-size); 
        height:var(--field-size);  
        min-width: 1px;
    }
    button:nth-of-type(2n){
        background-color: rgba(0,0,0,0.1);
    }

    svg{
        position: absolute;
        width: 100%;
        height:100%;
    }
    
}